{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Magazine Detail</title>
  </head>

  <body>
    <header></header>
    <main>
      <div class="magazines-card">
        <p style="font-size: larger; color: blue">{{ magazine.title }}</p>
        <p>release cycle: {{ magazine.release_cycle }}</p>
        {% if magazine.image %}
        <img
          src="{{ magazine.image }}"
          alt="magazine cover"
          width="200"
          height="300"
        />
        <p>{% endif %}</p>
        <p>{{ magazine.description }}</p>

        {% for issue in magazine.magazine_issues.all %}
        <ul>
          <li>{{ issue.title }}</li>
        </ul>
        {% endfor %}

        {% for magazine in magazines %}
        <ul>
          <li>{{ magazine.title }}</li>
        </ul>

        <a href={% url 'delete_magazine' magazine.pk %}>
          <button type="Button">delete</button>
        </a>

        <a href="{% url 'edit_magazine' magazine.pk %}">
          <button type="Button">edit</button>
        </a>

        {% endfor %}
      </div>
    </main>
  </body>
</html>
