{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Magazine Detail</title>
  </head>

  <body>
    <header></header>
    <main>
      <div class="magazines-card">
        <p style="font-size: larger; color: blue">{{ magazine.title }}</p>
        <p>release cycle: {{ magazine.release_cycle }}</p>
        <div>
          genres: {% for g in magazine.genre.all %}
          <span>{{ g.name }}, </span>
          {% endfor %}
        </div>

        <br />
        {% if magazine.image %}
        <img
          src="{{ magazine.image }}"
          alt="magazine cover"
          width="220"
          height="300"
        />
        <p>{% endif %}</p>
        <p>{{ magazine.description }}</p>

        <a href="{% url 'delete_magazine' magazine.pk %}">
          <button type="Button">delete</button>
        </a>

        <a href="{% url 'edit_magazine' magazine.pk %}">
          <button type="Button">edit</button>
        </a>

        <h3><br /><i>Past magazine issues:</i></h3>
        {% for issue in magazine.magazine_issues.all %}
        <ul>
          <li>{{ issue.issue_num }}</li>
        </ul>
        {% endfor %}
      </div>
    </main>
  </body>
</html>
